.menu-link{
    &:hover{
        color: #c6e2f7 ;
    }
}

.avatar{
    transform: scale(0.75);
    margin-top: -3.4rem;
}

.author-card{
    .avatar{transform: translateY(60px)}
}

#person-email{
        margin-bottom: 18px;
        display: block;
    }

/* Alternate background colors for publications section */
.section:nth-of-type(odd) {
  background-color: #ffffff;
}

.section:nth-of-type(even) {
  background-color: #f8f6f5;
}

