.menu-link{
    &:hover{
        color: #c6e2f7 ;
    }
}

.avatar{
    transform: scale(0.75);
    margin-top: -3.4rem;
}

.author-card{
    .avatar{transform: translateY(60px)}
}

#person-email{
        margin-bottom: 18px;
        display: block;
    }

/* Alternate background colors for publications section */
.section:nth-of-type(odd) {
  background-color: #ffffff;
}

.section:nth-of-type(even) {
  background-color: #f8f6f5;
}

.section.even {
  background-color: #f8f6f5;

  /* make background stretch full width */
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 2rem;  /* adjust as needed */
  padding-right: 2rem; /* adjust as needed */
  box-sizing: border-box;
}

.section.odd {
  background-color: #ffffff;
  padding-left: 2rem;  /* same as even to align text */
  padding-right: 2rem;
}